.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  
  .input-label {
    font-size: 16px;
    color: hsl(0, 0%, 44%);
  }
  
  .input-component {
    width: 100%;
    height: 50px;
    border: 1px solid #3f3f3f;
    border-radius: 4px;
    padding: 12px;
    outline: none;
  }
  
  .input-component::placeholder {
      color: #6F6F6F;
      font-size: 16px;
  }