.button-component {
  height: 70px;
  width: 100%;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: bold;
  background-color: #1F27F5;
  cursor: pointer;
}

.button-img {
  width: 20px;
  height: 20px;
}